<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8iVKlj6RlUfl5a70UJt21-9PECNCLW58</string>
	<key>GCM_SENDER_ID</key>
	<string>17685987514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a2zstudio.gonggam</string>
	<key>PROJECT_ID</key>
	<string>gonggam-92274</string>
	<key>STORAGE_BUCKET</key>
	<string>gonggam-92274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17685987514:ios:4bbed5d3a86bfaecb70283</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9332149282803752~2716258710</string>
</dict>
</plist>